@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

/* *{
    border: 2px dashed red;
}

body{
    border: 4px dashed green;
} */
body{
    background-image:  url("/assets/bg.png"), linear-gradient(180deg, white, rgba(254, 163, 1, 0.3));   
}

footer{
    background-color: #01ACFD;
}

/* shared styles */
.blue-gradient-bg{
    background-image: linear-gradient(180deg, rgba(222, 245, 255, 1.00), #FFFFFF);
    border: 1px solid #DEF5FF;
}

.orange-gradient-bg{
    background-image: linear-gradient(180deg, #FFF4DC, #FFFFFF);
    border: 1px solid #FFF4DC;
}
.purple-gradient-bg{
    background-image: linear-gradient(180deg, #F2E8FF, #FFFFFF);
    border: 1px solid #F2E8FF;
}

.orange-color{
    color: #FEA301;
}

.blue-color{
    color: #64C8FF;
}

.purple-color{
    color: #8700FF;
}

.greenish-bg{
    background-color: #95B226;
}

.violet-bg{
    background-color: #5D58F0;
}

.cyan-bg{
    background-color: #3CD8E8;
}

.image-class{
    width: 100%;
}

.display-flex{
    display: flex;
}

.section-title{
    margin: 0px 0px 80px;
    font-size: 2.85rem;
    font-weight: bold;
}

.primary-btn{
    background-color: black;
    font-family: "Quicksand", serif;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 12px;

    border: 1px solid black;
}

.primary-btn:hover{
    color: black;
    background-color: white;
}
 
.secondary-btn{
    font-family: "Quicksand", serif;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: white;
    padding: 5px;
    
}
.section_margin{
    margin-bottom: 60px;
}


.footer-portion-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}


/* curriculum section */

.standard-curriculum{
    padding: 60px 0px 80px;
    text-align: center;
    max-width: 1440px;
    margin: 0px auto;
}

.curriculum-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.curriculum-card{
    /* height: 500px; */
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    max-width: 380px;

    flex-direction: column;
    justify-content: center;
}

.school-pic-class{
    max-width: 135px;
    max-height: 120px;
    margin: 0px auto;
}

.curriculum-card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 32px 0px;
}
.curriculum-card-description{
    /* max-height: 100px; */
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    color: #808080;

    margin-bottom: 32px;
}

.curriculum-navigation{
    justify-content: center;
    gap: 10px;
}
.curriculum-nav-btn{
    padding: 20px;
    background-color: #FEA301;
    border: none;
    border-radius: 50%;
    margin-top: 80px;
    transition: transform .5s linear;
}

.curriculum-nav-btn:hover{
    transform: scale(1.2);
}

/* our stories section */

.our-stories-section{
    padding: 60px 0px;
    text-align: center;
}

.our-stories-card-container{
    display: grid;
    grid-template-columns: repeat(1, 2fr) repeat(2, 1fr);
    gap: 50px;
    justify-content: space-evenly;
    max-width: 1440px;
    margin: 0px auto 80px;
}

#featured-card{
    grid-row: span 2;
    /* max-width: 550px; */
}

.stories-card{
    border-radius: 25px;
    overflow: hidden;
    margin: 0px auto;
    background-color: white;
}

.story-pic>img{
    width: 100%;
}

.story-card-details{
    text-align: center;
    padding: 30px;
    position: relative;
    position: relative;
}

.story-date-btn{
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    
    left: 50px;
    
}


.story-card-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}


.story-card-description{
    font-size: 1rem;
    color: #808080;
    margin-top: 60px;
}

/* footer navbar */

.footer-navbar{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0px auto;
    gap: 170px;
    padding:128px 140px;
}

.kids-edu-brand{
    display: flex;
    align-items: center;
    gap: 10px;
}

.kids-edu-brand>img{
    max-width: 70px;
    max-height: 80px;
}

.kids-education-footer-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.kids-education-footer-description{
    font-size: 1.25rem;
    padding: 30px 0px;
    color: white;
}


.footer-section-card{
    max-width: 350px;
}

.navbar-link-item{
    margin-bottom: 20px;
    font-weight: medium;
    font-size: 1.25rem;
    
    list-style: none;
    
}

.navbar-link-item>a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600px;
}

.footer-section-card>a{
    margin-right: 10px;
}


@media screen and (max-width: 576px) {

    /* curriculum */
    .section-title{
        font-size: 2.5rem;
        margin: 25px 0px;
    }

    .curriculum-card-container{
        grid-template-columns: 1fr;
    }


    /* our stories */
    #featured-card{
        display: none;
    }

    .our-stories-card-container{
        grid-template-columns: 1fr;
    }

    .footer-navbar{
        flex-direction: column;
        gap: 25px;
    }
}